@import '../../node_modules/normalize.css/normalize';

* {
  box-sizing: border-box;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

body {
  background-color: #fff;
  color: #000;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 20px auto;
  max-width: 50rem;
  padding: 0 20px;
}
