@import '../utils/mixins';
@import '../utils/variables';

.container {
  @include gridStandard;
}

.copy {
  grid-column: 1/5;
  max-width: 45ch;
}

.elsewhere {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1/5;
}

.elsewhereLink {
  padding: $gutter / 2;
}

.elsewhereLogo {
  height: 32px;
  margin-bottom: 0;
}

.headshot {
  grid-column: 2/4;
  margin-bottom: 24px;
}

.headshot img {
  border-radius: 100%;
}
