@value variables: '../utils/variables.module.css';

.piece {
  padding-left: var(--gutter-default);
  padding-right: var(--gutter-default);
}

.piece:not(:last-of-type) {
  margin-bottom: 72px;
}

.pieceClient {
  margin-bottom: 12px;
}

.pieceImage {
  left: -16px;
  margin-bottom: 24px;
  position: relative;
  width: calc(100% + 32px);
}

@media all and (min-width: 717px) {
  .pieceImage {
    border: var(--gutter-default) solid var(--color-light-gray);
    left: auto;
    margin-left: calc(-100vw / 2 + 685px / 2);
    margin-right: calc(-100vw / 2 + 685px / 2);
    width: auto;
  }
}

@media all and (min-width: 1402px) {
  .pieceImage {
    margin-left: calc(-1402px / 2 + 685px / 2);
    margin-right: calc(-1402px / 2 + 685px / 2);
    width: 1370px;
  }
}

.pieceLinks {
  composes: listUnstyle from '../utils/mixins.module.css';
}

.pieceLinks li {
  display: inline-block;
  margin-bottom: 0;
}

.pieceLinks li:not(:last-of-type):after {
  content: '•';
  padding: 0 1ch;
}

.pieceTitle {
  margin-bottom: 0;
}
