@value variables: '../utils/variables.module.css';
@value colorLightGray from variables;
@value zIndexHeader from variables;

.header {
  composes: gridStandard from '../utils/mixins.module.css';
  background-color: colorLightGray;
  margin-bottom: 20px;
  padding-bottom: 16px;
  padding-top: 16px;
  position: sticky;
  top: 0;
  z-index: zIndexHeader;
}

.nav {
  grid-column: 2 / 5;
  line-height: 32px;
}

.navItem {
  display: inline-block;
  margin-bottom: 0;
}

.navItem:not(:last-of-type) {
  padding-right: 12%;
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.navLink:active,
.navLink:focus,
.navLink:hover,
.navLinkActive {
  text-decoration: underline;
}

.navLinkActive:hover:not(:active, :focus) {
  text-decoration: none;
}

.navLogo {
  grid-column: 1 / 1;
}

.navLogo img {
  display: block;
  margin-bottom: 0;
}

.navLogoHome {
  grid-column: 1 / 5;
  margin-left: auto;
  margin-right: auto;
}

.navList {
  composes: listUnstyle from '../utils/mixins.module.css';
}
