@import '../utils/mixins';
@import '../utils/variables';

.header {
  @include gridStandard;
  padding-bottom: 16px;
  padding-top: 16px;
  text-transform: uppercase;
}

.headerWrapper {
  background-color: $colorGray5;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: $zIndexHeader;
}

@media all and (min-width: $largeMinWidth) {
  .header {
    margin-left: auto;
    margin-right: auto;
    max-width: $largeMinWidth;
  }

  .headerWrapper {
    margin-left: calc(-100vw / 2 + #{$largeMinWidth} / 2);
    margin-right: calc(-100vw / 2 + #{$largeMinWidth} / 2);
  }
}

.nav {
  grid-column: 2 / 5;
  line-height: 32px;
}

.navItem {
  background-color: transparent;
  border-bottom: 2px solid $colorPrimary3;
  color: $colorPrimary3;
  flex: auto;
  line-height: 27px;
  margin-bottom: 0;
  padding-top: 3px;
  text-align: center;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transition-property: background-color, border-bottom-color, color;
  width: 50%;
  will-change: background-color, border-bottom, color;
}

.navItem:hover,
.navItemActive {
  background-color: $colorPrimary3;
  border-bottom-color: $colorPrimary3;
}

.navItem:not(.navItemActive):hover {
  background-color: $colorPrimary5;
}

.navItemActive {
  color: $colorGray5;
}

.navLink {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.navLogo {
  grid-column: 1 / 1;
}

.navLogo img {
  display: block;
  margin-bottom: 0;
}

.navLogoHome {
  grid-column: 1 / 5;
  margin-left: auto;
  margin-right: auto;
}

.navList {
  @include listUnstyle;
  display: flex;
}
