@import '../utils/mixins';
@import '../utils/variables';

.post {
  overflow: hidden;
  padding-left: $gutterDefault;
  padding-right: $gutterDefault;
}

.post:not(:last-of-type) {
  margin-bottom: 36px;
}

.postImage {
  left: -16px;
  margin-bottom: 12px;
  position: relative;
  width: calc(100% + 32px);
}

.postTitle {
  margin-bottom: 0;
}
