@value variables: '../utils/variables.module.css';

.post {
  overflow: hidden;
  padding-left: var(--gutter-default);
  padding-right: var(--gutter-default);
}

.post:not(:last-of-type) {
  margin-bottom: 36px;
}

.postImage {
  left: -16px;
  margin-bottom: 12px;
  position: relative;
  width: calc(100% + 32px);
}

.postTitle {
  margin-bottom: 0;
}
