$colorGray1: hsl(0, 0%, 5%);
$colorGray2: hsl(0, 0%, 17%);
$colorGray3: #333;
$colorGray4: #333;
$colorGray5: #333;
$colorGray6: #333;
$colorGray7: hsl(0, 0%, 83%);
$colorGray8: hsl(0, 0%, 96%);

$colorPrimary1: hsl(0, 0%, 5%);
$colorPrimary2: hsl(0, 0%, 5%);
$colorPrimary3: hsl(0, 0%, 5%);
$colorPrimary4: hsl(0, 0%, 5%);
$colorPrimary5: hsl(0, 0%, 5%);

$gutter: 16px;

$largeMinWidth: 685px;

$zIndexHeader: 10;
