$colorGray1: hsl(0, 0%, 5%);
$colorGray2: hsl(0, 0%, 17%);
$colorGray3: hsl(0, 0%, 50%);
$colorGray4: hsl(0, 0%, 83%);
$colorGray5: hsl(0, 0%, 96%);

$colorPrimary1: #660000;
$colorPrimary2: #993300;
$colorPrimary3: #cc3300;
$colorPrimary4: #FF6633;
$colorPrimary5: #FFCCCC;

$gutter: 16px;

$largeMinWidth: 685px;

$zIndexHeader: 10;
