$colorBlack: #000;
$colorDarkGray: hsl(0, 0%, 20%);
$colorLightGray: hsl(0, 0%, 80%);
$colorLightestGray: hsl(0, 0%, 95%);
$colorWhite: #fff;

$gutter: 16px;

$largeMinWidth: 685px;

$zIndexHeader: 10;
