@value variables: './variables.module.css';
@value gutterDefault from variables;

.gridStandard {
  column-gap: gutterDefault;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: gutterDefault;
  padding-right: gutterDefault;
}

.listUnstyle {
  list-style: none;
  margin: 0;
  padding: 0;
}
