.container {
  display: grid;
  grid-template-columns: 0 1fr 0;
}

.content {
  align-items: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*
    This is the fallback value. The exact value is set in layouts/index.js to workaround mobile
    sizing issues.
  */
  min-height: 100vh;
}

@media all and (min-width: 70ch) {
  .container {
    grid-template-columns: 1fr minmax(45ch, 70ch) 1fr;
  }
}
